@font-face {
  font-family: 'beers';
  src:  url('fonts/beers.eot?2h08qv');
  src:  url('fonts/beers.eot?2h08qv#iefix') format('embedded-opentype'),
    url('fonts/beers.ttf?2h08qv') format('truetype'),
    url('fonts/beers.woff?2h08qv') format('woff'),
    url('fonts/beers.svg?2h08qv#beers') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'beers' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-beer-can:before {
  content: "\e900";
}
.icon-beer-tap:before {
  content: "\e901";
}
.icon-black-beer:before {
  content: "\e902";
}
