@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?2h08qv');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?2h08qv#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?2h08qv') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?2h08qv') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?2h08qv##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-beer-can {
  &:before {
    content: $icon-beer-can; 
  }
}
.icon-beer-tap {
  &:before {
    content: $icon-beer-tap; 
  }
}
.icon-black-beer {
  &:before {
    content: $icon-black-beer; 
  }
}

